*{
    margin: 0;
    padding: 0;
}

.container{
    width:1200px;
    min-height: 500px;
    outline: 1px solid black;
    background-color: whitesmoke;
}

.game_market,
.price_box,
.banner_scroll,
.banner_carousel,
.cart_section,
.cart,
.navbar{
    display: flex;
}

.navbar{
    justify-content: space-between;
    background-color: black;
    padding: 0 125px;
    border-top: 5px solid purple;
}

.navbar h1{
    color: white;
}

.purple-text{
    color: purple;
}

.nav_icon{
    height: 40px;
}

.cart{
    justify-content: space-between;
    align-items: center;
    width: 225px;

}

.cart p{
    font-size: 1.4rem;
    color: white;
    text-decoration: underline;
}


.cart_section{
    align-items: center;
}
.cart_section > img{
    transform: scaleX(-1);
}


/* ----------------------------- */
/* BANNER */
/* ----------------------------- */
.banner{
    padding: 0 125px;
}

.banner_carousel{
    justify-content: space-between;
    align-items: center;
}

.carousel_image{
    width: 830px;
}

.left_arrow,
.right_arrow{
    -webkit-transform:scale(1,2);
    font-size: 3rem;
    font-weight: bold;
}

.banner_scroll{
    justify-content: center;
    margin-top: 25px;
}

.dash_bar{
    width: 40px;
    height: 10px;
    background-color: grey;
    margin: 0 10px;
}

.purple_bar{
    background-color: purple;
}

/* ----------------------------- */
/* GAME MARKET */
/* ----------------------------- */
.game_market{
    padding: 0 125px;
    justify-content: space-between;
    margin-top: 50px;
}

.game_card{
    width: 250px;
    background-color: white;
}

.game_pic{
    width: 100%;
}

.os_icon{
    width: 45px;
}

.price_box{
    justify-content: space-between;
    margin-top: 20px;
}

.price_info{
    background-color: purple;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
}

.price_reduction{
    text-align: right;
}

.buy_btn{
    background-color: green;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
}

.normal_price{
    color: grey;
    text-decoration: line-through;
}

.discount_price{
    font-size: 1.2rem;
    font-weight: bold;
}