#comment-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    border: solid 1px grey;
}

#comment-header button{
    background-color: coral;
    color: ivory;
}