/* 
CASCADING STYLE SHEETS
*/

/* 

SELECTOR{
    ATTRIBUTES : PROPERTIES;
}

*/

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: seagreen;
    min-height: 500px;
    padding: 20px;
}

/* h1{
    color: dodgerblue;
    background-color: black;
}

p{
    color: white;
} */

/* IDs and Classes */
#header{
    color: dodgerblue;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 50px 20px 0px;
    display: inline-block;
}

#explanation{
    display: inline-block;
    vertical-align:top;
}

.text-white{
    color: white;
    margin-bottom: 10px;
}

.text-blue{
    color: dodgerblue;
}

#footer > div > h3,
#footer > h3{
    color: white;
}