*{
    margin: 0;
    padding: 0;
}

.container{
    width: 900px;
    margin: 0 auto;
    color: grey;
    font-size: 1.8em;
}

.title{
    text-align: center;
}

img{
    width: 200px;
}

.first_row,
.second_row,
.third_row{
    padding: 15px;
    margin-bottom: 10px;
}

.first_row{
    display: flex;
    justify-content: space-around;
    background-color: hsl(193deg 70% 62%);
}

.second_row{
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(330deg 27% 73%);
}

.third_row{
    display: flex;
    justify-content: space-between;
}