*{
    margin: 0;
    padding: 0;
}

.container{
    width: 970px;
}

/* -------------------- */
/* Navbar */
/* -------------------- */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    background-color: #112133;
}

.navbar > h1{
    color: white;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-links > li{
    margin: 0px 30px;
    color: white;
}

.text-blue{
    color: blueviolet;
}

#text-blue{
    color: blueviolet;
}

/* -------------------- */
/* Navbar */
/* -------------------- */


/* -------------------- */
/* MAIN BODY */
/* -------------------- */
.main-body{
    padding: 10px;
}

.main-body > img{
    width: 100%;
    margin-bottom: 15px;
}


.card-row{
    display: flex;
    margin-bottom: 30px;
}

.card{
    flex: 1;
    padding: 20px;
    background-color: dodgerblue;
}

.icon{
    width: 25px;
}

.card > h1{
    margin-bottom: 10px;
    color: white;
}

.card > p{
    margin-bottom: 40px;
    color: white;
}

.card > button{
    width: 140px;
    height: 45px;
    color: white;
    background-color: #6face9;
    border: none;
    border-radius: 3px;
}

.margin-h{
    margin: 0px 10px;
}
/* -------------------- */
/* MAIN BODY */
/* -------------------- */

/* -------------------- */
/* BOTTOM ROW */
/* -------------------- */
.bottom-row{
    display: flex;
}

.col-1{
    flex:1;
}

/* -------------------- */
/* MAIN BODY */
/* -------------------- */


/* -------------------- */
/* FOOTER */
/* -------------------- */
.footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: blueviolet;
    padding: 20px 0px;
}

.footer > li{
    font-size: 1.3em;
    margin: 0px 10px;
}

/* -------------------- */
/* FOOTER */
/* -------------------- */