*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 0px 15px;
}