*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #333333;
}

.nav-title{
    color: white;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links > li{
    margin: 0px 10px;
    list-style-type: none;
}

/* .nav-links > li > a */
.nav-links a{
    text-decoration: none;
    color: white;
}

.btn{
    color: white;
    background-color: navy;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.active{
    font-weight: bold;
}