*{
    margin: 0;
    padding: 0;
}

.container{
    width: 970px;
    min-height: 200px;
}

.lite-mode{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: black;
    color: white;
}

.pic{
    width: 200px;
}