h1{
    color: blue;
    position: relative;
    left: 50px;
    display: inline-block;
}
p{
    display: inline-block;
}


h2{
    position: fixed;
    bottom: 50px;
    left: 50px;
}
.container{
    height: 1200px;
    background-color: teal;
}