*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

.card{
    font-size: 1.2rem;
}

.card-header {
    background-color: #17a2b8;
    width: 1000px;
    margin: 0 auto;
    height: 125px;
    margin-bottom: 70px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.card-body{
    margin-top: 100px;
    padding: 25px;
}
.icon-s{
    height: 20px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}