/* 

SELECTOR{
    ATTRIBUTES : PROPERITES;
}

*/

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* YOUR OWN CSS CODE */
#header{
    background-color: rebeccapurple;
}

/* DIRECT DESCENDANT */
.subheader > h2{
    background-color: beige;
}

.subheader > p{
    background-color: gold;
}


/* DESCENDANT */

.container{
    padding: 25px;
}

#header{
    padding: 10px;
}

.subheader{
    margin: 15px 0px;
    width: 200px;
    display: inline-block;
}

.subheader > h2,
.subheader > p{
    padding: 10px;
}

.top{
    vertical-align: top;
}