/* 
SELECTOR{
    ATTRIBUTE : PROPERTY;
}


*/

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* MY OWN CSS CODE */
/* h1{
    color: red;
} */

#container{
    padding: 0 10px;
    width: 1200px;
}

#body{
    display: flex;
    justify-content: center;
}

#intro_title{
    color: rebeccapurple;
    padding: 5px;
    margin-bottom: 10px;
}

.subsection_body{
    width: 300px;
}
