*{
    margin: 0;
    padding: 0;
}

.container{
    width: 400px;
    height: 400px;
}

#header{
    background-color: black;
    color: white;
}

.dark-mode{
    background-color: black;
    color: white;
}

.light-mode{
    background-color: dodgerblue;
    color: black;
}