*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 15px auto;
    min-height: 800px;
    outline: 1px solid black;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    padding: 15px;
}

.top-nav{
    margin-bottom: 10px;
}

.top-nav h1{
    font-size: 4em;
}

.top-nav input{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    font-size: 25px ;
}

.top-nav a{
    text-decoration: none;
    font-size: 1.4em;
}

.logo-icon{
    background-color: teal;
}

.bottom-nav{
    list-style-type: none;
    font-size: 1.4em;
}

.top-body h2{
    text-align: center;
    width: 100%;
    font-size: 2em;
}